<h1>Welcome</h1>

<% @posts.each do |post| %>
  <h2><%= link_to post.title, post %></h2>
  <p>
    il y a <%= time_ago_in_words post.created_at %>
  </p>
  <p>
    <%= truncate post.text %>
  </p>
<% end %>

<p>
  <%= link_to "New post", new_post_path %>
</p>
